.clients {
  padding: 60px 0;
  @media screen and (min-width: 1200px) {
    padding: 94px 0;
  }

  &.section__title {
    margin-top: 0;
  }

  &__list {
    display: flex;
    flex-wrap: wrap;

    @media screen and (min-width: 1200px) {
      flex-wrap: nowrap;
      justify-content: space-between;
      align-content: center;
    }
  }

  &__item {
    margin-bottom: 30px;


    &:nth-child(odd) {
      margin-right: 30px;
    }

    &:nth-last-child(-n + 2) {
      margin-bottom: 0;
    }

    @media screen and(min-width:768px) {
      margin-right: 30px;
      &:nth-child(3n + 3) {
        margin-right: 0;
      }
      &:nth-last-child(-n + 3) {
        margin-bottom: 0;
      }
    }
    @media screen and(min-width:1200px) {
      margin-bottom: 0;
      &:not(:last-child) {
        margin-right: 30px;
      }
    }
  }

  &__link {
    display: flex;
    justify-content: center;
    width: 210px;
    height: 92px;
    align-items: center;
    border: 1px solid var(--icon-color-main);
    border-radius: 4px;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    @media screen and (min-width:1200px) {
      width: 170px;
    }

  }

  &__link .clients__icon {
    fill: var(--icon-color-main);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  &__link:hover,
  &__link:focus {
    border-color: var(--accent-color);
  }

  &__link:hover .clients__icon,
  &__link:focus .clients__icon {
    fill: var(--accent-color);
    
  }
}
