.header {
    background-color: var(--main-white);
    border-bottom: 1px solid #ececec;
    height: 60px;
    @media screen and (min-width:768px) {
        height: auto;
    }


    &__container {
        display: flex;
        align-items: center;

        height: 100%;
        justify-content: space-between;
        @media screen and (min-width:768px) {
            justify-content: start;
            height: auto;
        }
        @media screen and (min-width:1200px) {
        padding-top: 24px;
        padding-bottom: 24px;          
        }
    }

    &__logo {
         @media screen and (min-width:768px) {
        margin-right: 93px;
         }
    }

    &__contacts {
        display:none;
        margin-left: auto;

        margin-left: auto;
        @media screen and (min-width:768px) {
        display: flex;
        flex-direction: column; 
        }
        @media screen  and (min-width:1200px) {
        flex-direction: row;
        align-items: center;            
        }
    }

    &__link {
    @media screen and (max-width:1199px) {
        line-height: 1.67;
        font-size: 12px;
        font-weight: 500;
    }        
    }


    &__link:hover,
    &__link:focus {
        color: var(--accent-color);
    }

    @media screen and (min-width:768px) {
        &__item:first-child {
        margin-bottom: 10px;       
    }
}

    @media screen  and (min-width:1200px) {
    &__item:not(:last-child) {
        margin-bottom: auto;
        margin-right: 50px;
    }        
    }


    &__link {
        display: flex;
        align-items: center;
        text-decoration: none;
        color: var(--secondary-text);
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        
    }

    &__icon {
        margin-right: 10px;
        fill: var(--secondary-text);
        transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    &__link:hover svg,
    &__link:focus svg {
        fill: var(--accent-color);
    }

}