.hero {
  text-align: center;
  padding-top: 118px;
  padding-bottom: 118px;
  min-height: 400px;
  background-position: center;
  background-size: cover;
  margin-right: auto;
  margin-left: auto;

  background: var(--hero-background-color);
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/hero-mob-x1.jpg);

  @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url(../images/hero-mob-x2.jpg);
  }

  @media screen and(min-width:768px) {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url('../images/hero-tab-x1.jpg');
    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url('../images/hero-tab-x2.jpg');
    }
  }

  @media screen and(min-width:1200px) {
    max-width: 1600px;
    max-height: 600px;
    padding-top: 200px;
    padding-bottom: 200px;

    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url('../images/hero-desk-x1.jpg');
    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url('../images/hero-desk-x2.jpg');
    }
  }

  &__title {
    color: var(--main-white);
    line-height: 1.62;
    font-size: 26px;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    font-weight: 900;

    @media screen and(min-width:1200px) {
      max-width: 694px;
      font-size: 44px;
      line-height: 1.36;
    }

    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
  }

  &__button {
    color: var(--main-white);
    background-color: var(--accent-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-style: none;
    border-radius: 4px;
    pad: 10px 24px;

    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    font-family: inherit;
    min-width: 216px;
    min-height: 50px;

    @media screen and(min-width:1200px) {
      cursor: pointer;
      padding: 10px 32px;
      line-height: 1.8;
    }
  }
}
