.mobile {
  position: fixed;
  left: 0%;
  top: 0%;
  width: 100vw;
  height: 100vh;
  background-color: var(--main-white);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),opacity 250ms 100ms;

  &__container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
    padding: 48px 40px;
  }

  &__close-btn {
    background-color: var(--main-white);
    border: none;
    position: absolute;
    top: 10px;
    right: 15px;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover .mobile__close-icon,
    &:focus .mobile__close-icon {
      fill: #2196f3;
    }
  }

  &__close-icon {
    fill: #212121;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  &__close-icon:hover,
  &__close-icon:focus {
    fill: #2196f3;
  }

  &__navigation--list {
    list-style-type: none;
    text-decoration: none;
  }

  &__navigation--item {
    margin-bottom: 32px;

    font-weight: 500;
    font-size: 40px;
    line-height: 1.16;
  }


  .mobile__navigation--link.current {
    color: #2196f3;
  }  

  &__navigation--link {
    text-decoration: none;
    color: #212121;
    letter-spacing: 0.02em;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),opacity 250ms 100ms;
    &:hover,
    &:focus {
        color: #2196f3;
    }
  }

  &__contacts--list {
    margin-bottom: 64px;
  }

  &__contacts--item:not(:last-child) {
    margin-bottom: 32px;
  }

  &__contacts--phone {
    text-decoration: none;
    font-weight: 500;
    font-size: 34px;
    line-height: 1.18;
    letter-spacing: 0.02em;
    color: #2196f3;
  }

  &__contacts--mail {
    text-decoration: none;
    font-weight: 500;
    font-size: 24px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    color: #757575;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),opacity 250ms 100ms;
    &:hover,
    &:focus {
        color: #2196f3;
    }
  }

  &__socialnet {
    display: flex;
    flex-wrap: wrap;
  }

  &__socialnet--item:not(:last-child) {
    position:relative;
    border-right: 1px solid rgba(33,33,33,0.2);
    padding-right: 10px;
  }

  &__socialnet--item:not(:first-child) {
    padding-left: 10px;
  }

  &__socialnet--link {
    text-decoration: none;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.22;
    letter-spacing: 0.02em;
    color: #2196f3;
  }

    .mobile.is-hidden {
        transform: translateY(-100%);
    }

}


