.modal {
    position: absolute;
    min-width: 528px;
    min-height: 521px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--main-white);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
}

.modal_btn {
    display: flex;
    position: absolute;
    top: 8px;
    right: 8px;
    background-color: var(--main-white);
    border-radius: 50%;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    border: 1px solid rgba(78, 62, 62, 0.1);
    width: 30px;
    height: 30px;
    padding: 0;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal { 
        &_btn .icon-close {
        transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    &_btn:hover,
    &_btn:focus {
        fill: var(--accent-color);
        border-color: var(--accent-color);
    }

    &__form {
        padding: 40px;
    }

    &__title {
        display: flex;
        justify-content: center;
        text-align: center;
        font-weight: 700;
        font-size: 20px;
        line-height: 1.15;
        margin-bottom: 12px;
        color: var(--main-text);
    }

    &__label {
        display: block;
        margin-bottom: 10px;
        position: relative;
    }

    &__name {
        color: var(--secondary-text);
        display: block;
        font-size: 12px;
        letter-spacing: 0.01em;
        line-height: 1.17;
        margin-bottom: 4px;
    }

    &__input {
        width: 100%;
        height: 40px;
        border-radius: 4px;
        border: 1px solid rgba(33, 33, 33, 0.2);
        padding: 11px;
        transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    &__input:hover,
    &__input:focus {
        fill: var(--accent-color);
        border: 1px solid var(--accent-color);
    }

    &__input:hover+.form-icon,
    &__input:focus+.form-icon {
        fill: var(--accent-color);
    }

    .form-icon {
        position: absolute;
        left: 11px;
        bottom: 11px;
        fill: var(--main-text);
        transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
        fill: var(--main-text);
    }

    input {
        cursor: pointer;
    }

    &__textarea {
        font-size: 12px;
        line-height: 14px;
        letter-spacing: 0.01em;
        width: 100%;
        height: 120px;
        border-radius: 4px;
        border: 1px solid rgba(33, 33, 33, 0.2);
        color: rgba(117, 117, 117, 0.5);
        resize: none;
        padding: 12px 16px;
        cursor: pointer;
    }

    &__textarea:hover,
    &__textarea:focus {
        border-color: var(--accent-color);
    }

    &__label>.modal__textarea {
        margin-bottom: 20px;
    }

    .checkbox {
        display: inline-block;
        height: 15px;
        width: 16px;
        border-radius: 2px;
        position: relative;
        border: solid 2px var(--main-text);
        top: 2px;
        cursor: pointer;
    }

    .checkbox-hidden {
        overflow: hidden;
        border: 0;
        padding: 0;
        margin: -1px;
        width: 1px;
        height: 1px;
        white-space: nowrap;
        clip-path: inset(100%);
        clip: rect(0 0 0 0);
    }

    .input-checkbox:checked+.checkbox {
        background-color: var(--accent-color);
        border: none;
        background-position: center;
        background-repeat: no-repeat;
        background-image: url(../images/check.svg);
        transition: background-color 250ms var(--timing-function);
    }

    &__label--agreement {
        text-align: center;
        color: var(--secondary-text);
    }

    &__agreement--link {
        color: var(--accent-color);
    }

    &__button--send {
        display: flex;
        padding: 10px 52px;
        background: var(--accent-color);
        border-radius: 4px;
        color: var(--main-white);
        font-weight: 700;
        font-size: 16px;
        letter-spacing: 0.06em;
        line-height: 1.88;
        text-align: center;
        align-items: center;
        padding: 10px 52px;
        margin-top: 30px;
        margin-right: auto;
        margin-left: auto;
        box-shadow: 0px 4px 4px rgb(0 0 0 / 15%);
        border: 1 solid var(--accent-color);
        cursor: pointer;
    }

}