.qualities {
  background-color: var(--main-white);
  padding-top: 60px;
  padding-bottom: 60px;

  @media screen and (min-width: 1200px) {
    padding-top: 94px;
    padding-bottom: 94px;
  }

  &__list {
    display: block;

    @media screen and(min-width:768px) {
      display: flex;
      flex-wrap: wrap;
    }

    @media screen and(min-width:1200px) {
      list-style-type: none;
      display: flex;
      flex-wrap: wrap;
    }
  }

  &__box {
    display: flex;
    height: 120px;
    margin-bottom: 30px;
    background-color: #f5f4fa;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    width: 450px;

    @media screen and(min-width:768px) {
      width: 354px;
    }

    @media screen and(min-width:1200px) {
      width: 270px;
    }
  }

  &__item {
    &__item:not(:last-child) {
      margin-bottom: 30px;
    }

    @media screen and (min-width:768px) {
    &:nth-child(2n+1) {
    margin-right: 30px;      
    }
    }

    @media screen and (min-width:1200px) {
        &:not(:last-child) {
            margin-right: 30px;
        }
    }
  }

  &__title {
    line-height: 1.14;
    font-size: 14px;
    margin-top: 0;
    margin-bottom: 10px;
    text-transform: uppercase;
    text-align: center;

    @media screen and(min-width:768px) {
      text-align: start;
    }
  }

  &__description {
    line-height: 1.71;
    color: var(--secondary-text);
    width: 450px;

    @media screen and(min-width:768px) {
      width: 354px;
    }

    @media screen and(min-width:1200px) {
      width: 270px;
    }
  }
}
