.team {
  background: var(--secondary-background);
  text-align: center;
  padding-top: 60px;
  padding-bottom: 60px;

  @media screen and (min-width: 1200px) {
    padding-top: 94px;
    padding-bottom: 94px;
  }

  &__list {
    display: block;
    @media screen and(min-width:768px) {
      display: flex;
      flex-wrap: wrap;
    }
    @media screen and(min-width:1200px) {
      flex-wrap: nowrap;
    }
  }

  &__item {
    width: 100%;
    list-style-type: none;
    background-color: var(--main-white);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;

    &:not(:last-child) {
      margin-bottom: 30px;
    }

    @media screen and (min-width: 768px) {
      width: 354px;
      &:nth-child(2n + 1) {
        margin-right: 30px;
      }
      &:nth-last-child(-n + 2) {
        margin-bottom: 0;
      }

      @media screen and (min-width:1200px) {
        &:nth-last-child(-n + 4) {
          margin-bottom: 0;
        }
        &:not(:last-child) {
          margin-right: 30px;
          max-width: 270px;
        }
      }
    }
  }

  &__box {
    padding-top: 30px;
    padding-bottom: 24px;
    
    @media screen and (min-width:1200px) {
    padding-bottom: 30px;    
    }
    
  }

  &__name {
    font-weight: 500;
    line-height: 1.18;
    font-size: 16px;
    margin-bottom: 10px;
  }

  &__desc {
    color: var(--secondary-text);
    line-height: 1.18;
    font-size: 16px;
  }
}
