.burger {
    background-color: transparent;
    fill: var(--main-text);
    border-style: none;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),opacity 250ms 100ms;
    
    &:hover,
    &:focus {
      fill: #2196f3;
    }

    @media screen and (min-width:768px) {
    display: none;
  }
  
}