.examples {
  display: flex;
  flex-wrap: wrap;
  margin-top: -30px;
  margin-left: -30px;

  &__item {
    list-style-type: none;
    max-width: 370px;
    background-color: var(--main-white);
    margin-top: 30px;
    margin-left: 30px;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  &__item:hover,
  &__item:focus {
    box-shadow: 0px 1px 1px rgb(0 0 0 / 12%), 0px 4px 4px rgb(0 0 0 / 6%),
      1px 4px 6px rgb(0 0 0 / 16%);
  }

  &__link {
    text-decoration: none;
    color: inherit;
  }

  &__overlay {
    position: relative;
    overflow: hidden;
  }

  &__link:hover .examples__desc {
    outline: none;
    transform: translateY(0);
  }

  &__link:focus .examples__desc {
    outline: none;
    transform: translateY(0);
  }

  &__desc {
    position: absolute;
    background: var(--accent-color);
    color: var(--main-white);
    font-size: 18px;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    line-height: 1.56;
    transform: translateY(100%);
    padding: 63px 24px;
    overflow: auto;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  &__box {
    border-right: 1px solid var(--portfolio-border);
    border-bottom: 1px solid var(--portfolio-border);
    border-left: 1px solid var(--portfolio-border);
    padding: 20px 24px;
  }

  &__title {
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    margin-bottom: 4px;
  }

  &__text {
    color: var(--secondary-text);
    font-size: 16px;
    line-height: 1.9;
  }
}
