.filter {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 40px;

  @media screen and (min-width: 768px) {
    justify-content: center;
    margin-bottom: 30px;
  }

  @media screen and (min-width: 1200px) {
    margin-bottom: 50px;
  }

  @media screen and (max-width: 767px) {
    justify-content: flex-start;
    &__item:nth-child(-n + 4) {
      margin-top: 15px;
    }
    &__item:nth-child(5) {
      margin-top: 15px;
    }
  }

  &__item:not(:last-child) {
    margin-right: 8px;
  }

  &__button.filter__button--active {
    background-color: var(--accent-color);
    color: var(--main-white);
  }

  &__button {
    font-family: inherit;
    color: var(--main-text);
    background: var(--secondary-background);
    cursor: pointer;
    border-style: none;
    border-radius: 4px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    text-align: center;
    letter-spacing: 0.03em;
    padding: 6px 22px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  &__button:hover,
  &__button:focus {
    color: var(--main-white);
    background-color: var(--accent-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
  }
}
