.nav {
  display: flex;
  align-items: center;

  &__list {
    display: none;
    align-items: center;
    @media screen and (min-width: 768px) {
      display: flex;
    }
  }

  &__item:not(:last-child) {
    margin-right: 50px;
  }

  &__list,
  .header__contacts {
    list-style-type: none;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
  }

  &__link {
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    text-decoration: none;
    color: inherit;
    @media screen and (max-width: 1199px) {
      font-weight: 500;
      letter-spacing: 0.02em;
      display: inline-block;
      padding-top: 32px;
      padding-bottom: 32px;
    }
  }

  &__link--current {
    color: var(--accent-color);
    position: relative;
    padding-bottom: 32px;
  }

  &__link:hover,
  &__link:focus {
    color: var(--accent-color);
  }

  &__link--current::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 4px;
    display: block;
    bottom: 0;
    border-radius: 2px;
    background-color: var(--accent-color);
  }
}
