.container {
  max-width: 480px;
  width: 100%;
  margin: 0 auto;
  padding-right: 15px;
  padding-left: 15px;

    @media screen and (max-width: 767px) {
    max-width: 480px;
    margin-left: auto;
    margin-right: auto;
  }
  
    @media screen and (min-width:768px) {
    max-width: 768px;
    margin-left: auto;
    margin-right: auto;
  }

    @media screen and (min-width:1200px) {
    max-width: 1200px;
    
  }
}
