:root {
    --main-text: #212121;
    --secondary-text: #757575;
    --accent-color: #2196f3;
    --main-white: #ffffff;
    --hero-background-color: #2f303a;
    --primary-background: #f5f5f5;
    --secondary-background: #f5f4fa;
    --clear-black: #000000;
    --hover-accent-color: #188ce8;
    --portfolio-border: #eeeeee;
    --icon-color-main: #afb1b8;
    --icon-white: #ffffff;
}